<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/fonts.css' | url }}" />
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#theclub">The club</a></li>
          <li><a href="#theclub">Who we are</a></li>
          <li><a href="#theclub">Join the waitlist</a></li>
          <li><a href="https://google.com" target="_blank">Facebook</a></li>
          <li><a href="https://google.com" target="_blank">Instagram</a></li>
        </ul>
      </nav>
      <h1>{{ title }}</h1>
    </header>
    <main>
      {{ something }}
    </main>
  </body>
</html>