$black: #252B2F;
$white: #fff;
$cream-lt: #F5E4C9;
$cream-dk: #EAC282;
$green: #C6DAB7;
$red: #C1331D;

$regular: 'outfitregular', helvetica, sans-serif;
$medium: 'outfitmedium', helvetica, sans-serif;
$semibold: 'outfitsemibold', helvetica, sans-serif;
$bold: 'outfitbold', helvetica, sans-serif; 

body {
  font-family: $regular;
  background-color: #fff;
  background-image: url(../assets/images/bkg.jpg);
  background-size: cover;
}

@media only screen and (max-width: 1200px) {
  body {
    background-size: auto;
  }
}

a {
  color: $black;
  text-decoration: none;
}

.logo {
  display: block;
  position: absolute;
  left: 140px;
  top: 100px;
}

nav {
  position: fixed;
  right: 80px;
  top: 70px;
  
  ul {
    li {
      display: inline-block;
      text-transform: uppercase;
      padding-right: 80px;
      font-size: 18px;
      
      &:last-child {
        padding-right: 0;
      }
      
      &.icon {
        vertical-align: sub;
        padding-right: 20px; 
      }
    }
  }
}

h1 {
  color: $black;
  text-transform: uppercase;
  font-family: $semibold;
  font-size: 48px;
  line-height: 60px;
  
  span {
    display: block;
    
    &.line2 { padding-left: 40px; }
    &.line3 { padding-left: 20px; }
  }
  
  em {
    color: $red;
    font-style: normal;
  }
  
  strong {
    font-size:36px;
  }
}

.polaroids {
  padding-top:100px;
}

main .grid {
  width:70%;
  margin:auto;
  margin-top: 290px;
}